@import "tailwindcss";

@theme {
  --color-calculator-bg: #ffffff;
  --color-calculator-card: #f8f9fa;
  --color-calculator-text: rgb(33, 37, 41);
  --color-calculator-red: rgb(178, 34, 34);
}

body {
  background-color: var(--color-calculator-bg);
  color: var(--color-calculator-text);
}
