@import "tailwindcss";

@theme {
  --color-sardinha-bg: #FFFFFF;
  --color-sardinha-card: rgb(229, 231, 235);
  --color-sardinha-text: rgb(33, 37, 41);
  --color-sardinha-red: rgb(178, 34, 34);
}

body {
  background-color: var(--color-sardinha-bg);
  color: var(--color-sardinha-text);
}